
.manage-button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.manage-button:hover {
background-color: #0056b3;
}

.form-modal {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-container h3 {
    margin-top: 20px;
    text-align: center;
    color: #007BFF;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.form-container button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container button.close-button {
    background-color: #d9534f;
}

.form-container button.close-button:hover {
    background-color: #c9302c;
}

.form-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.form-container li {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 項目靠左對齊 */
    margin-bottom: 10px;
    gap: 10px; /* 添加間距 */
}

.form-container li input[type="checkbox"] {
    margin: 0; /* 去除默認的外邊距 */
}