.register {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin:auto;
}

.register h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
    color: #007BFF;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.register input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.register button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register button:hover {
    background-color: #0056b3;
}

.register .alert-message {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    color: #d9534f; /* 警告訊息顏色 */
}